* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  line-height: 120px;
  font-family: "Merriweather", serif;
}

h2 {
  font-size: 40px;
  line-height: 80px;
}

h3 {
  font: bold normal 28px/56px "Merriweather", serif;
  margin-top: 43px;
  margin-bottom: 20px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0px;
  background-color: #bdae82;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  width: 220px;
  height: 55px;
  margin-top: 25px;
  outline-style: none;
}

.hero-button,
.portfolio-button,
.btn-price {
  text-align: center;
  color: black;
  width: 220px;
  height: 55px;
}

.hero-button a,
.portfolio-button a,
.btn-price a {
  display: block;
  line-height: 55px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0px;
  background-color: black;
}

/* header */

.header p {
  line-height: 90px;
  padding-top: 20px;
}

.switch-lng {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.eng {
  color: #bdae82;
}

.header-container {
  background: url("assets/img/header-bg.png");
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  height: 90px;
  text-align: center;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-top: 20px;
  width: 500px;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  margin-left: auto;
  font: normal 20px/50px "Inter", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  display: inline-block;
  width: 50px;
  padding-left: 20px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.menu-btn {
  display: none;
}

/* main */

/* hero */

.hero-container {
  background-image: url("assets/img/header-bg.png");
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 825px;
}

.hero-text {
  height: 330px;
  width: 500px;
  position: absolute;
  padding-top: 160px;
  padding-left: 5.56%;
}

.hero-text p {
  line-height: 40px;
  margin-top: 10px;
  padding-right: 30px;
  position: relative;
}

.hero-button {
  border: 0px;
  background-color: #bdae82;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  width: 220px;
  height: 55px;
  margin-top: 25px;
  outline-style: none;
}

/* skills */
.section-title {
  overflow: hidden;
  text-align: center;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  width: 700px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 60px;
}

.section-title span {
  display: inline-block;
  vertical-align: middle;
}

.section-title:before,
.section-title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 2px;
  background-color: #bdae82;
  position: relative;
}

.section-title:before {
  margin-left: -50%;
  left: -20px;
}

.section-title:after {
  margin-right: -50%;
  right: -20px;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.skills-items {
  width: 320px;
  height: 240px;
  text-align: center;
}

.skills-items p {
  font-size: 18px;
  line-height: 36px;
}

.skills-title {
  margin-bottom: 20px;
}

.skills-title b {
  line-height: 40px;
  font-size: 20px;
}

.skills-items div {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

/* portfolio */

.portfolio-button {
  border: 2px solid #bdae82;
  background-color: rgba(0, 0, 0, 0);
  color: #bdae82;
  width: 216px;
  height: 51px;
}

.autumn {
  background-color: #bdae82;
  color: black;
}

#winter,
#spring,
#summer {
  display: none;
}

.btn-portfolio {
  text-align: center;
  width: 895px;
  height: 55px;
  margin: 0 auto 60px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Video */
.poster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-image: url(assets/video-player/svg/video-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

video {
  width: 100%;
  height: 643px;
}

.video-player {
  width: 1398px;
  height: 703px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdae82;
  margin: 0 auto;
}

.play-btn {
  display: inline-block;
  position: absolute;
  z-index: 3;
  background-image: url(assets/video-player/svg/play-btn.svg);
  background-size: contain;
  width: 130px;
  height: 130px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.player-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 40px);
  height: 60px;
}

.play {
  background-image: url(assets/video-player/svg/play.svg);
}

.volume {
  background-image: url(assets/video-player/svg/volume.svg);
}

.toggle-icon {
  width: 40px;
  height: 36px;
  background-color: transparent;
  color: transparent;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
}

.toggle-icon:hover,
.play-icon:active {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.progres {
  width: calc(80% - 160px);
}

.volume-progres {
  width: calc(20% - 40px);
}

.progres,
.volume-progres {
  height: 10px;
  background: linear-gradient(to right,
      #bdae82 0%,
      #bdae82 40%,
      #c8c8c8 40%,
      #c8c8c8 100%);
  outline: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: default;
  -webkit-appearance: none;
}

/* Price */

.price-items {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 505px;
  padding: 0 20px 100px;
}

.card {
  width: 450px;
  text-align: center;
  border: solid 1px #bdae82;
}

.services {
  display: flex;
  flex-direction: column;
  font: normal 18px/36px "Inter", sans-serif;
  height: 180px;
}

.rate {
  margin-bottom: 20px;
  font: bold normal 24px/48px "Merriweather", serif;
  color: #bdae82;
}

.btn-price {
  margin-top: 40px;
  margin-bottom: 43px;
  border: 0px;
  background-color: #bdae82;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  width: 220px;
  height: 55px;
  outline-style: none;
  margin-left: auto;
  margin-right: auto;
}

/* Contacts */

#contacts {
  height: 700px;
}

.btn-contacts {
  margin-top: 0;
}

.contacts {
  width: 1440px;
  height: 700px;
  background: url("assets/img/contacts-bg.jpg");
  background-size: 1440px 700px;
  background-position: center center;
  position: absolute;
}

.contacts-container {
  height: 550px;
  width: 445px;
  margin-left: auto;
  position: relative;
  margin-top: 60px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.contact-title {
  margin: 0;
  width: auto;
  text-align: left;
  line-height: 80px;
  margin-bottom: 40px;
}

.contact-title::after,
.contact-title::before {
  all: unset;
}

.contact-form,
.text-form {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  box-sizing: border-box;
  height: 46px;
  width: 446px;
  margin-bottom: 20px;
  font: normal 20px/40px "Inter", sans-serif;
  color: #bdae82;
  resize: none;
  padding: 0 20px;
}

.contact-form::placeholder {
  font: normal 20px/40px "Inter", sans-serif;
  color: #bdae82;
}

.text-form::placeholder {
  font: normal 20px/40px "Inter", sans-serif;
  color: #bdae82;
}

.text-form {
  height: 96px;
  margin-bottom: 30px;
}

/* Footer */

.container-footer {
  width: 1440px;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-data {
  width: 182px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.rs {
  display: inline-block;
}

.social-list {
  display: inline-flex;
  margin-right: 20px;
}

.social-list ul {
  width: 188px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.social-list img {
  width: 32px;
  height: 32px;
}

/* 768px */

@media (max-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }

  .container {
    max-width: 768px;
  }

  .nav {
    display: none;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: block;
    margin-top: 20px;
    margin-right: 62px;
  }

  .menu-btn span {
    display: flex;
    width: 50px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 12px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 12px);
  }

  .switch-lng {
    margin-right: 25px;
    margin-left: auto;
  }

  .logo {
    padding-left: 60px;
  }

  .header-container {
    height: 90px;
    background-position: left -16px;
    background-size: auto 620px;
  }

  .hero-container {
    height: 500px;
    background-position: left top -106px;
    background-size: auto 620px;
    padding-left: 60px;
    margin-bottom: 98px;
  }

  .hero-text {
    height: 330px;
    width: 417px;
    position: absolute;
    padding-top: 78px;
    padding-left: 0;
  }

  h1 {
    font-size: 32px;
    line-height: 64px;
    font-weight: normal;
    font-style: normal;
  }

  .hero-text p {
    line-height: 24px;
    margin-top: 20px;
    letter-spacing: 0.001px;
  }

  .hero-button {
    margin-top: 60px;
  }

  .section-title {
    font-size: 32px;
    line-height: 40px;
    width: 364px;
    margin: auto;
  }

  .skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-top: 67px;
    margin-bottom: 103px;
  }

  .skills-items {
    margin-bottom: 20px;
  }

  .skills-items div {
    margin-top: 25px;
  }

  .skills-items p {
    line-height: 22px;
  }

  .btn-portfolio {
    width: 445px;
    flex-wrap: wrap;
    margin-top: 71px;
  }

  .portfolio-list {
    padding-top: 60px;
    margin-bottom: 100px;
  }

  .portfolio-button {
    margin-bottom: 5px;
  }

  video {
    width: 766px;
    height: 100%;
  }

  .video-player {
    width: 766px;
    height: 416px;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .play-btn {
    width: 75px;
    height: 75px;
  }

  .player-controls {
    height: 68px;
  }

  .toggle-icon {
    width: 30px;
    height: 24px;
  }

  .progres,
  .volume-progres {
    height: 6px;
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 13px;
    width: 13px;
  }

  .price-items {
    margin-top: 70px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 768px;
    height: auto;
    padding: 0 0;
  }

  .card {
    width: 420px;
    height: 505px;
    border: solid 3px #bdae82;
    margin-bottom: 43px;
  }

  .contacts {
    width: 768px;
    height: 600px;
    background-size: auto 600px;
    background-position: right -234px top +32px;
    background-repeat: no-repeat;
  }

  .contacts-container {
    height: 450px;
    width: 429px;
    margin: 92px auto 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .contact-title {
    margin: 0;
    width: auto;
    text-align: center;
    line-height: 64px;
    margin-bottom: 40px;
  }

  .btn-contacts {
    margin-left: 115px;
  }

  #contacts {
    height: 600px;
  }

  .container-footer {
    width: 768px;
    height: 190px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-data {
    justify-content: space-around;
    margin: 28px auto 0;
  }

  .social-list {
    margin: 0 auto 28px;
  }
}

/* 360px */

@media (max-width: 360px) {
  body {
    font-size: 15px;
    max-width: 360px;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    line-height: 60px;
  }

  h2 {
    font-size: 25px;
    line-height: 40px;
  }

  h3 {
    font: bold normal 20px/30px "Merriweather", serif;
    margin-top: 30px;
  }

  .logo {
    padding-left: 20px;
  }

  .menu-btn {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .header-container {
    height: 70px;
    background-position: left -150px top -10px;
    background-size: auto 490px;
  }

  .hero-container {
    height: 340px;
    background-position: left -150px top -80px;
    background-size: auto 490px;
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .hero-text {
    height: 300px;
    width: 230px;
    position: absolute;
    padding-top: 0px;
  }

  .hero-text p {
    margin-top: 20px;
    padding-right: 0px;
  }

  .hero-button,
  .btn-price,
  .btn-contacts {
    font-size: 15px;
    line-height: 40px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
  }

  .hero-button a,
  .portfolio-button a,
  .btn-price a {
    line-height: 40px;
  }

  .section-title {
    font-size: 25px;
    line-height: 40px;
    color: #bdae82;
    width: 320px;
    margin: auto;
  }

  .skills-list {
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .skills-items {
    width: 320px;
    height: 180px;
    text-align: center;
  }

  .skills-items p {
    font-size: 15px;
  }

  .skills-title {
    margin-bottom: 10px;
  }

  .skills-items div {
    margin-top: 10px;
  }

  .btn-portfolio {
    width: 360px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-evenly;
  }

  .portfolio-button {
    width: 150px;
    height: 40px;
  }

  .portfolio-list {
    padding-top: 0px;
    margin-bottom: 30px;
  }

  .items img {
    width: 360px;
    height: auto;
  }

  .items {
    gap: 10px;
  }

  .video-player {
    width: 356px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  video {
    width: 356px;
    height: 100%;
  }

  .player-controls {
    height: 40px;
    width: calc(100% - 5px);
  }

  .volume-progres {
    width: calc(20% - 10px);
  }

  .price-items {
    margin-top: 30px;
    width: 360px;
    height: auto;
  }

  .card {
    width: 280px;
    height: auto;
    margin-bottom: 30px;
  }

  .rate {
    font-size: 20px;
    line-height: 30px;
  }

  .services {
    font-size: 15px;
    line-height: 25px;
    height: auto;
  }

  .btn-price {
    margin: 20px auto;
  }

  .contacts {
    width: 360px;
    height: auto;
    background-size: auto 360px;
    background-position: left -100px top 50px;
    background-repeat: no-repeat;
  }

  #contacts {
    height: 410px;
  }

  .contacts-container {
    height: 360px;
    width: 200px;
    margin: 50px 0 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .contact-form,
  .text-form {
    height: 40px;
    width: 180px;
    margin-bottom: 20px;
    font: normal 15px/20px "Inter", sans-serif;
    color: #bdae82;
    resize: none;
    padding: 0 20px;
  }

  .btn-contacts {
    margin: 20px auto;
  }

  .contact-title {
    margin: 30px auto 20px 0;
    width: 200px;
    line-height: 30px;
    text-align: left;
  }

  .btn-contacts {
    margin: 0px auto;
  }

  .contact-form::placeholder,
  .text-form::placeholder {
    font-size: 15px;
  }

  .container-footer {
    width: 360px;
    height: 80px;
  }

  .footer-data {
    width: 120px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .social-list {
    margin: 0 auto;
    width: 120px;
  }

  .social-list img {
    width: 20px;
    height: 20px;
  }
}